*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#0a0a0a;
    color:white;
    font-family:Arial, sans-serif;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
    padding:40px 0;
}

/* TOPBAR */

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    gap:20px;
}

.left h1{
    font-size:3rem;
    margin-bottom:10px;
    line-height:1.1;
}

.degree{
    color:#9ca3af;
    font-size:1rem;
}

.right{
    display:flex;
    gap:15px;
    margin-top:5px;
}

.icon{
    width:55px;
    height:55px;
    border-radius:50%;
    border:1px solid #262626;
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration:none;
    color:white;
    font-size:1.2rem;
    transition:0.3s ease;
}

.icon:hover{
    background:#171717;
    transform:translateY(-3px);
}

hr{
    border:none;
    height:1px;
    background:#222222;
    margin:35px 0 50px;
}

/* ABOUT */

.about{
    margin-bottom:70px;
}

.about h2{
    font-size:2.2rem;
    margin-bottom:20px;
}

.about p{
    max-width:800px;
    color:#b4b4b4;
    line-height:1.8;
    font-size:1.05rem;
}

/* CERTIFICATES */

.certificates h2{
    font-size:2.2rem;
    margin-bottom:35px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(260px,1fr));
    gap:25px;
}

.card{
    background:#111111;
    border:1px solid #222222;
    border-radius:18px;
    padding:30px 25px;
    transition:0.3s ease;
    box-shadow:0 0 20px rgba(255,255,255,0.03);
}

.card:hover{
    transform:translateY(-5px);
    border-color:#38bdf8;
}

.card h3{
    font-size:1.4rem;
    margin-bottom:12px;
}

.card p{
    color:#a1a1aa;
    margin-bottom:20px;
    line-height:1.5;
}

.card a{
    color:#38bdf8;
    text-decoration:none;
    font-weight:bold;
}

/* FOOTER */

footer{
    margin-top:80px;
    text-align:center;
    color:#71717a;
    font-size:0.95rem;
}

/* MOBILE */

@media(max-width:768px){

    .topbar{
        flex-direction:column;
        align-items:flex-start;
    }

    .left h1{
        font-size:2.5rem;
    }

    .right{
        margin-top:10px;
    }

    .about h2,
    .certificates h2{
        font-size:1.8rem;
    }

}
