*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#07111f;
    color:white;
    font-family:Arial, sans-serif;
}

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
    padding:40px 0;
}

/* TOP SECTION */

.topbar{
    display:flex;
    justify-content:space-between;
    align-items:flex-start;
    flex-wrap:wrap;
    gap:20px;
}

.left h1{
    font-size:4rem;
    margin-bottom:10px;
}

.degree{
    color:#94a3b8;
    font-size:1.1rem;
}

.right{
    display:flex;
    gap:15px;
    margin-top:10px;
}

.icon{
    width:55px;
    height:55px;
    border-radius:50%;
    border:1px solid #334155;
    display:flex;
    align-items:center;
    justify-content:center;
    text-decoration:none;
    color:white;
    font-size:1.2rem;
    transition:0.3s ease;
}

.icon:hover{
    background:#0f172a;
    transform:translateY(-3px);
}

hr{
    border:none;
    height:1px;
    background:#1e293b;
    margin:35px 0 50px;
}

/* ABOUT */

.about{
    margin-bottom:70px;
}

.about h2{
    font-size:2.3rem;
    margin-bottom:20px;
}

.about p{
    max-width:850px;
    line-height:1.8;
    color:#cbd5e1;
    font-size:1.05rem;
}

/* CERTIFICATES */

.certificates h2{
    font-size:2.3rem;
    margin-bottom:35px;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(280px,1fr));
    gap:25px;
}

.card{
    background:#0f172a;
    border:1px solid #1e293b;
    border-radius:18px;
    padding:30px 25px;
    transition:0.3s ease;
}

.card:hover{
    transform:translateY(-5px);
    border-color:#38bdf8;
}

.card h3{
    margin-bottom:12px;
    font-size:1.5rem;
}

.card p{
    color:#94a3b8;
    margin-bottom:20px;
    line-height:1.5;
}

.card a{
    text-decoration:none;
    color:#38bdf8;
    font-weight:bold;
}

/* FOOTER */

footer{
    margin-top:80px;
    text-align:center;
    color:#64748b;
    font-size:0.95rem;
}

/* MOBILE */

@media(max-width:768px){

    .topbar{
        flex-direction:column;
        align-items:flex-start;
    }

    .left h1{
        font-size:2.8rem;
    }

    .about h2,
    .certificates h2{
        font-size:2rem;
    }

}
